/*center metric label*/
div[data-testid="stVerticalBlock"] {
    gap: 0px;
}


div.stButton {
    position: absolute;
    left: -999em;
    /* yeah...this is a very hacky way to send buttons probably to mars */
}


p {
    font-size: 14px;
    line-height: 16px;
    font-family: "Courier New", Courier, monospace;
}

@media all and (max-height: 1000px) {
    p {
        font-size: 12px;
        line-height: 12px;
    }

}

@media all and (max-height: 800px) {
    p {
        font-size: 10px;
        line-height: 10px;
    }
}

.appview-container .main .block-container {
    padding-top: 2.875rem;
    padding-bottom: 0px
}

.gamegrid {
    /* position: absolute; */
    display: grid;
    grid-template-columns: repeat(50, 16px);
    grid-template-rows: repeat(40, 16px);
    grid-gap: 0px;
    align-items: flex-end;
}

img {
    /* object-fit: cover; */
    width: 100%;
    /* height: 100%; */
}

.player {
    z-index: 99999;

    /* transform: scale(0.8) */
}

section[tabindex="0"] {
    overflow: hidden;
    scroll-padding: 60px;
    /* scroll-margin: 60px; */
    /* no scroll */
}

.console-container {
    position: relative;
    /* background-color: darkgrey; */
    color: grey;
    font-size: 0.8rem;
    padding: 10px;
    border-radius: 5px;

    border: 2px dotted #2a514d;
    border-top: 3px solid #1e3937;
    font-family: Arial, Helvetica, sans-serif;
    /* margin-bottom: 10px; */
    width: 5rem;

}


.container_text {
    animation: fadeIn 2s;
    filter: drop-shadow(2px 0 0 white) drop-shadow(0 2px 0 white) drop-shadow(-2px 0 0 white) drop-shadow(0 -2px 0 white);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.bpad {
    padding-left: 10px;
    position: fixed;
    margin-left: 1%;
    margin-right: 1%;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 200px;
    background-color: #0e1117;
    color: #ccc;
    /* width: 100%; */
    overflow: auto;
    font-family: monospace;
    border-top: 3px solid #1e3937;
    text-align: center;
}




.bbutton-left {
    padding-left: 10px;
    position: fixed;
    bottom: 8rem;
    left: 0;
    right: 0;
    width: 50%;
    margin-right: auto;
    opacity: 0.5;

}

.bbutton-right {
    padding-left: 10px;
    position: fixed;
    bottom: 8rem;
    left: 0;
    right: 0;
    width: 50%;
    margin-left: auto;
    opacity: 0.5;
}

.bbutton-up {
    padding-left: 10px;
    position: fixed;
    bottom: 6rem;
    left: 0;
    right: 0;
    width: 50%;
    margin-right: auto;
    opacity: 0.5;

}

.bbutton-down {
    padding-left: 10px;
    position: fixed;
    bottom: 6rem;
    left: 0;
    right: 0;
    width: 50%;
    margin-left: auto;
    opacity: 0.5;
}

@media all and (min-width: 600px) {

    .bbutton-left,
    .bbutton-right,
    .bbutton-up,
    .bbutton-down {
        display: none;
        z-index: 99998;

    }
}

.coffee {
    padding-left: 10px;
    position: fixed;
    margin-left: 1%;
    margin-right: 1%;
    bottom: 0;
    left: 0;
    right: 0;
    /* max-height: 46px; */
    /* background-color: #0e1117; */
    color: #ccc;
    /* width: 100%; */
    overflow: auto;
    font-family: monospace;
    text-align: center;
    justify-content: center;
    display: flex;
}